html{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
}
body{
    /*background-color:  #1e1e1e;*/
    font-family: 'Audiowide';
    cursor: crosshair;
    /*overflow: auto;*/
    margin: 0px;
    color: #2D69F4;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-image: url("art/stars.png");
}
img{
    display:none;
}
canvas{    
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
}
input{
    border-radius: 8px;
    opacity: 0.75;
    background-color: #0C090A;
    color: #2D69F4;
    border: 4px #1F0083 solid;
    box-shadow: 2px 2px 0.5px #100042;
}
button{
    border-radius:3px;
}
title{
    color: #2D69F4;
}
::-webkit-input-placeholder {
    color: #2D69F4;
}

:-moz-placeholder { /* Firefox 18- */
    color: #2D69F4;  
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #2D69F4;  
}

:-ms-input-placeholder {  
    color: #2D69F4;  
}
#desktop-only{
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
}
#version{
    position:fixed;
    bottom:0px;
    color: grey;
    right:0px;
    font-size: 8px;
}
#master-div{
    position:absolute;
    width:100%;
    height: 100%;
    /*background-image: url('art/stars.png');*/
}
#hud-container{
    height: 100%;
    width: 100%;
    max-width: 1600px;
    position: absolute;
}
#galaxy{
    z-index: 50;
    background-attachment: fixed;
    background-position: center; 
    /*background-color:  #1e1e1e;*/
    /*    width:100%;
        height: 100%;*/
    position:absolute;
    /*z-index: -1;*/
}
#galaxy-planets{
    z-index: 40;
    position:absolute;
}
#galaxy-foreground{
    z-index: 45;
    position:fixed;
}
#radar-planets{
    position:absolute;
}
#radar-ships{
    position:absolute;
}
h1{
    left:10%;
    top: 20px;
    font-style: italic;
    font-size: 36px;
    margin-bottom: 30px;
}
.anti-drag{
    user-drag: none; 
    -moz-user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;    
}
.panel{
    display: none;
    z-index: 100;
    border-radius: 8px;
    opacity: 0.66;
    position: absolute;
    background-color: #0C090A;
    border: 4px #1F0083 solid;
    box-shadow: 2px 2px 0.5px #100042;
    position: absolute;
    overflow: hidden;
}
.panel-tooltips{
    text-align: center !important;
    font-size: 14px !important;
    opacity: 0.5 !important;
    background-color: black !important;
    border: 4px #1F0083 solid !important;
}
.panel-overlay{
    opacity: 0;
    /*display:none;*/
    z-index: 50;    
}
#t-panel{
    position: absolute;
    left: 64px;
    top: 271px;
    width: 77px;
    height: 196px;
}
#l-panel{
    position: absolute;
    left: -38px;
    bottom: -2px;
    width: 432px;
    height: 257px;
}
#r-panel{
    position: absolute;
    right: -95px;
    bottom: -2px;
    width: 603px;
    height: 136px;
}

#launch-button-holder{
    left: 90px;
}

#launch {
    border: 3px solid green;
}
#launch-countdown{
    left: 42%;
    top:66%;
}
.help{
    left: 60%;
    top: 30%;
    text-align: center;
    font-size: 16px;
}
#landing-area{
    display:none;
    z-index: 50000;
    width:100%;
    max-width: 1600px;
    height: 100%;
    position:fixed;
}
#enter-name{
    z-index: 500000;
    top: 120px;
    left: 10%;
    width: 292px;
    height: 40px;
    text-align: center;
}
#enter-name ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    grey;
}
#enter-name :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    grey;
    opacity:  1;
}
#enter-name ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    grey;
    opacity:  1;
}
#enter-name :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    grey;
}
#enter-name input{
    margin: 0px;
}
.menu{
    /*display: none;*/
    /*position: static;*/
    padding-top: 10px;
    padding-bottom: 10px;
    width: 290px;
    text-align:center;
    opacity: 0.8;
}
#menu-panel{
    /*display: none;*/
    left:10%;
    top: 191px;
}
.menu input{
    font-weight: bold;
    font-style: italic;
    color: #2D69F4;
    font-size: 22px;
    text-align: center;
    width:66%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: auto;
    border-radius: 4px;
}
#motd{
    text-align: center;
    display: block;
    position: absolute;
    top: 62px;
    padding: 0px 10px 10px;    
    left:480px;
}
#tutorial{
    left:10%;
    padding: 6px;
    top: 370px;
    height: 220px;
    width: 280px;
    text-align:center;
    
}
.tutorial-planets{
    display: block;
    float:left;
}
#demo{
    text-align:left;
    left: 480px;
    top:200px;
    display: block;
    width: 725px;
    height: 380px;
    opacity: 1;
}
#demo video{
    position: absolute;
    top:-86px;
    width: 730px;
    height: 530px;
}
#player-count{
    position:fixed;
    bottom:0px;
    color: grey;
    left:0px;
    font-size: 8px;
}
#ping{
    top: 30px;
    right: 30px;
    width:80px;
    height: 20px;
}
#game-timer{
    top: 30px;
    right: 130px;
    width:60px;
    height: 20px;
}
#chat-output{
    bottom: 0px;
    color: #2D69F4;
    position: absolute;
}
#chat-output-wrapper{
    border-radius: 8px;
    border: 4px #1F0083 solid;
    width: 132px;
    height: 250px;
    left: 30px;
    bottom: 60px;
    font-size: 10px;;
    overflow:hidden;
    vertical-align: bottom;

}
#chat-output p{
    margin: 4px;
}
.server-msg{
    font-weight: bold;
}
.earnings{
    color:green;
}
#chat-input{
    color: #2D69F4;
    left: 30px;
    bottom: 30px;
    height: 20px;
    width: 140px
}
#options-area{
    /*display: hidden;*/
    opacity: 1;
    width: 200px;
    height: 600px;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 1000;
    padding: 4px 20px;
}
.large-buttons input{
    font-weight: bold;
    font-style: italic;
    color: #2D69F4;
    font-size: 22px;
    text-align: center;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: auto;
    border-radius: 4px;
}
.vol-sliders{
    margin-bottom: 20px;
}
#show-options{
    top: 70px;
    right: 30px;
    width:90px;
    height: 30px;
    z-index: 950;
}
#show-options-div input{
    font-size: 14px;
    font-family: 'Audiowide';
}
#exit{
    display: none;
}
#show-credits{
    top: 30px;
    right: 30px;
    width: 90px;
    height: 30px;
    z-index: 950;
}
#show-credits-div input{
    font-size: 14px;
    font-family: 'Audiowide';
}
#credits-area{
    /*display: hidden;*/
    opacity: 1;
    width: 300px;
    height: 600px;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 1000;
    padding: 4px 20px;
}
#mute{
    top: 70px;
    right: 130px;
    width:70px;
    height: 30px;
    z-index: 950;
}
#mute-div input{
    text-decoration: line-through;
    font-size: 14px;
    font-family: 'Audiowide';
}
#options-backdrop{
    width:100%;
    height:100%;
    position: fixed;
    display: none;
    background-color: black;
    opacity: 0.75;
    z-index: 900;
}



#sun{
    border-radius: 100%;
    -o-border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;

}
#sun{
    border-radius: 100%;
    -o-border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;

}
#planet{
    border-radius: 100%;
    -o-border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;

}
#moon{
    border-radius: 100%;
    -o-border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;

}



#score-area{
    width: 132px;
    height:  232px;
    top: 30px;
    left: 30px;
}
.score-panel{
    width: 118px;
    height: 35px;
    margin: 10px 6px 0px 6px;
    font-size: 11px;
    padding-left: 2px;
    overflow: hidden;
    border-bottom: 2px solid #1F0083;
}
#position-0{
    font-size: 24px;
    margin-bottom: 6px;
    font-weight: bold;
}
#score-0{
    font-size: 16px;
}
#name-0{
    text-align: center;
    padding-top: 30px;
}
#score-panel-1{
    /*color: #33FF00;*/
}
#score-panel-2{
    /*color: #33CC00;*/
}
#score-panel-3{
    /*color: #339900;*/
}
.position{
    overflow: hidden;
}
.scores{
    float: right;
}
.names{
    padding-top: 4px;
    width: 100%
}
#score-panel-0{    
    margin: 0px 6px 0px 6px;
    height: 92px;
}
#mission-briefing{
    left: 30px;
    width: 132px;
    height: 147px;
    top: 290px;
    text-align: center;
    font-size: 14px;
}
#mission-briefing p{
    margin: 0px;
}
#pickup-radar {
    line-height: 1.5;
    right: 220px;
    width: 72px;
    height: 72px;
    bottom : 60px;
    text-align: center;

}
#coords-table{
    margin-right:auto;
    margin-left:auto;    
    line-height: 1.1;
    text-align: center;
    font-size: 10px;
    overflow: hidden;
}
#fuel-o-meter{
    bottom: 30px;
    left: 180px;
    width: 20px;
    height: 170px;
    overflow: hidden;
    /*background-color: #908E8E;*/
}

#fuel-o-gauge{
    border: 2px solid #908E8E;
    position: absolute;
    bottom: -4px;
    border-radius: 4px;
    background-color: red;
    width: 16px;
    left:0px;
}
#explosion{
    -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
    animation: mymove 5s infinite;
}
#warn-o-meter{
    bottom: 30px;
    right: 190px;
    width: 195px;
    height: 12px;
    font-size: 12px
}
.hud-minor{
    opacity: 0;
}
#warn-light{
    float: left;
    width: 11px;
    height: 11px;
    background-color: green;
    border-color: #908E8E;
    border-radius: 50%;
    margin: 2px 4px 0px 2px;

}
#direct-o-meter{
    font-weight: bold;
    bottom:60px;
    right: 310px;
    width: 72px;
    height: 72px;
    border-radius: 50%;
}
#direct-o-arrow{
    position: absolute;
    font-size: 80px;
    left:18px;
    top:-14px;
    vertical-align: sub;    
}
#grav-o-meter{
    font-weight: bold;
    bottom: 30px;
    right: 400px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
}
#grav-o-arrow{
    font-size: 42px;
    position: absolute;
    text-align: center;
    top:-6px;
    left:9px;
    opacity: 0.5;
}
#speed-o-meter{
    font-size: 42px;
    bottom:70px;
    left: 220px;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}
#speed-o-arrow{
    background-color: #100042;
    position: absolute;
    text-align: center;
    height:15px;
    width:15px;
    border-radius: 50%;
    top:38px;
    left:38px;
    opacity: 0.5;
}
#speed-o-speed{
    position: absolute;
    text-align: center;
    font-size: 10px;
    top:62px;
    width: 100%;
}
#point-o-meter{
    bottom:70px;
    left: 330px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
}
#point-o-arrow{
    position: absolute;
    text-align: center;
    top:-1px;
    left: 5px;
    opacity: 0.5;

}
#thrust-o-meter{
    bottom:30px;
    left: 220px;
    width: 147px;
    height: 22px;
    border-radius: 6px;
}
#thrust-o-gauge{
    border: 2px solid #908E8E;
    position: absolute;
    bottom: 2px;
    border-radius: 4px;
    background-color: red;
    height: 14px;
    left:1px;
    opacity: 0.5;
}

#radar{
    overflow:hidden;
    bottom: 30px;
    right: 30px;
    width: 172px;
    height:172px;
    border-radius: 50%;
}
#self-destruct-div{
    margin-top: 2000px;
    width: 180px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}
#self-destruct-div input{
    box-shadow: 2px 2px 0.5px red;
    border: 3px solid red;
    font-weight: bold;
    font-style: italic;
    color: red;
    font-size: 22px;
    text-align: center;
    /*width:100%;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: auto;
    border-radius: 4px;
}
#score-table{
    color: #2D69F4;
    top: -2000px;
    margin-top: 90px;
    left: 200px;
    min-width:450px;
}
#score-table th{
    font-size: 18px;
    text-align: left;
}
#score-table td{
    height: 40px;
    vertical-align: middle;
    border-top: 4px #1F0083 solid;
    width:150px;
    max-width:300px;

}



#waiting-for-start {
    top: 30px;
    left: 300px;
    text-align: right;
}
#ship-table-div{  
    width: 466px;
    z-index: 100;
    left:200px;
    top: 2000px;
    opacity: 0.8;

}
.ship-table{
    display: block;
    padding: 0px 35px;
}
#ship-menu{
    display: none;
}
.ship-menu{
    float:left;
    clear: left;
}
.ship-sub-menu{
    margin-top: 10px;
    padding-bottom: 10px;
}
#ship-stats-div{  
    width: 326px;
    float:right;
    position: relative;
    border-left: 10px solid #686868;
    border-radius: 4px;
}
#ship-stats-div p{   
    max-width: 100px;
}
.stats-bar-outline{
    width: 147px;
    height: 22px;
    border-radius: 6px;   
    /*float:right;*/
}
.stats-bar{
    border: 2px solid #908E8E;
    border-radius: 4px;
    background-color: red;
    height: 14px;
    width: 40px;
    opacity: 0.5;

}
#choose-ship{
    font-style: italic;
    font-family: 'Audiowide';
    font-size: 24px;
    margin: 80px 30px 30px 120px;

}
#journey-table-div {
    display:hidden;
    z-index: 100;
}
#journey-table {
    top: -2000px;
    left:300px;
    text-align: right;
    background-color: black;
    opacity: 0.85;
}
.game-menu {
}
#journey-table input{
    font-weight: bold;
    font-style: italic;
    color: #2D69F4;
    font-size: 22px;
    text-align: center;
    width:160px;
    margin: 10px 30px;
    border-radius: 4px;
}
#journey-table td{
    min-width: 50px;
}
.t-departing{
}
.t-arrow{
    font-weight: bold;
    max-width:10px;
}
.t-arriving{

    text-align: left;
}
t-value{
    text-align: left;
    width:100px; 
}
.t-distance{
    width:80px; 
}